<h2 id='message'>Please enter your credentials below</h2>
<div id='content'>
	<div class=controll>
		<div class=controll-label>
			<label for='username'>Username</label>
		</div>
		<input id='usernameInput' name='username'>
	</div>
	<div class=controll>
		<div class=controll-label>
			<label for='password'>Password</label>
		</div>
		<input id='passwordInput' name='password' type='password'>
	</div>
	<div id='buttonWrapper'>
		<button id='loginButton'>Login</button>
		<button id='signupButton'>Sign up</button>
	</div>
</div>
