<h2 id='message'>Please enter your credentials below</h2>
<div id='form'>
	<div>
		<label name='username'>Username</label><input id='usernameInput' name='username'>
	</div>
	<div>
		<label name='password'>Password</label><input id='passwordInput' name='password' type='password'>
	</div>
	<div>
		<button id='loginButton'>Login</button>
		<button id='signupButton'>Sign up</button>
	</div>
</div>

