<h2 id=message>Welcome <%= @user.username %>!</h2>
<div id=content>
	<p>You have logged in <%= @user.count %> time(s).</p>
	<div id='buttonWrapper'>
		<button id=logoutButton>Logout</button>
	</div>
</div>
